body{
    background-color: #1c1a1a;
}
.submit{
    background-color: #0e1c36;
    color: #fff;
    margin-bottom: 8px;
}
.imgsize{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.inp{
    text-align: center;
    margin-bottom: 10px;
}
.body{
    text-align: center;
    margin-bottom: 2px;
    color: red;
    background-color: beige;
}
.container{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
.msg{
    color: red;
    font-size: 15px;
    text-align: center;
    margin-top: 2px;
    margin-bottom:2px ;
}
.resister{
    background-color: #0e1c36;
    color: #fff;
    margin-bottom: 8px;}