<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout page</title>
    <style>
    .center{
        text-align: center;
    }
    .button{
        background-color: #0e1c36;
        color: #fff;
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="center">
        <h2>you have successfully logged out....</h2>
    </div>
<div class="center">
    <a href="http://127.0.0.1:5000/login"><button class="button" >return to login page</button></a>
</div>
</body>
</html>