<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration status</title>
    <style>
      .submit{
        background-color: #0e1c36;
    color: #fff;
    margin-bottom: 8px;
      }
    </style>
</head>
<body>
<div style="text-align: center">
  <h1>Registration successful</h1>
</div>
<div style="text-align: center">
  <h2>
    Go to the login page
  </h2>
  <div style="text-align: center">
    <a class="submit" href="http://127.0.0.1:5000/login" ><button>go back to login page</button></a>
  </div>
</div>
</body>
</html>