<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/bubbles/344/login-rounded-right.png">
</head>
<body>
    <div class="container">
        <div class="body">
            <h2>Registration Form</h2>
            <form class="class body" action="http://127.0.0.1:5000/registration" method="post">
                <div class="img">
                    <img class="imgsize" src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" width="200px" alt="profile picture">
                </div>
                <div class="inp">
                    <input type="text" name="Username" placeholder="User Name" required>
                </div>
                <div class="inp">
                    <input type="password"  name = Password placeholder="Password" required>
                </div>
                <div class="msg">
                    {{msg}}
                </div>
                <div>
                    <input class="submit" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>
</html>